
    
body{
  background-color: gray;
   font-family: helvetica,sans serif,arial
}

h1{ color:white;
font-size: 20px;}
h5{color:white;
font-size: 13px;
font-family: helvetica;}

img{width: 9.5%;
    float:right;}

.header {background-color:black;
        border: 1px black;
          padding-left:5px;
          text-align:center;}
.contactinfo{line-height:1%;}
.title{text-shadow:.5px .5px black;
        font-size;}
.college{text-shadow:.5px .5px black;
        font-size:15px;
        }



div{ border:1px solid black;
    padding-left:5px}
p{color:black}
li{color:black}
font-weight: 200;

